<div [fxLayout]="model.fxLayout" fxFlexFill fxLayoutGap="5px">
    <div [fxFlex]="controlModels.fxFlex" [fxLayout]="controlModels.fxLayout" fxFlexFill fxLayoutGap="5px" *ngFor="let controlModels of model.columns">
        <div fxFlex *ngFor="let controlModel of controlModels.components">
            <dynamic-ui-material-control *ngIf="controlModel.input" [group]="group" [hasErrorMessaging]="controlModel.hasErrorMessages" [model]="controlModel" [nestedTemplates]="templates" (blur)="onBlur($event)" (change)="onValueChange($event)" (focus)="onFocus($event)"></dynamic-ui-material-control>
        </div>
    </div>
</div>