<div class="container">
        <!--
        <formio-basic-form
            [group]="formGroup1"
            [model]="formModel1">
        </formio-basic-form>
        
        <formio-basic-form 
                [group]="formGroup2"
                [model]="formModel2">
            <ng-template modelId="basicFormArray" let-index="index">                    
                <button type="button" (click)="remove(index)">Remove Item</button>
            </ng-template>            
        </formio-basic-form>
        <button type="button" (click)="add()">Add Item</button>
        <button type="button" (click)="clear()">Remove All</button>
        -->
        
        <formio-basic-form
            [group]="formGroup3"
            [model]="formModel3">
        </formio-basic-form>
       
    </div>
