<div [formGroup]="group" [ngClass]="model.cls.element.container">
	<label *ngIf="model.label !== null" [attr.for]="model.id"
		[innerHTML]="model.label" [ngClass]="model.cls.element.label"></label>


	<ng-template *ngIf="template?.align === 'START'"
		[ngTemplateOutlet]="template.templateRef"
		[ngTemplateOutletContext]="model"></ng-template>

	<fieldset role="radiogroup" [attr.tabindex]="model.tabIndex"
		[formioId]="bindId && model.id" [name]="model.name"
		(change)="onValueChange($event)">

		<legend *ngIf="model.legend" [innerHTML]="model.legend"></legend>

		<label *ngFor="let option of model.options$ | async"> <input
			type="radio" [formControlName]="model.id" [name]="model.name"
			[ngClass]="model.cls.element.control" [value]="option.value"
			(blur)="onFocusChange($event)" (focus)="onFocusChange($event)" /><span
			[innerHTML]="option.label"></span></label>

	</fieldset>

	<div *ngIf="hasHint" [ngClass]="model.cls.element.hint">
		<span [innerHTML]="model.hint"></span>
	</div>


	<ul *ngIf="hasErrorMessaging" [hidden]="!showErrorMessages"
		[ngClass]="model.cls.element.errors">

		<li *ngFor="let message of errorMessages">{{message}}</li>

	</ul>


	<ng-template *ngIf="template?.align === 'END'"
		[ngTemplateOutlet]="template.templateRef"
		[ngTemplateOutletContext]="model"></ng-template>


	<ng-content></ng-content>

</div>
