<div [formGroup]="group" [ngClass]="model.cls.element.container">
	<ng-template *ngIf="template?.align === 'START'"
		[ngTemplateOutlet]="template.templateRef"
		[ngTemplateOutletContext]="model"></ng-template>
	<mat-checkbox #matCheckbox [checked]="model.checked"
		[formioId]="bindId && model.id" [formControlName]="model.id"
		[indeterminate]="model.indeterminate"
		[labelPosition]="model.labelPosition" [name]="model.name"
		[ngClass]="model.cls.element.control" (blur)="onFocusChange($event)"
		(change)="onValueChange($event)" (focus)="onFocusChange($event)">
	        <span [ngClass]="model.cls.element.label" [innerHTML]="model.label"></span>
    </mat-checkbox>

	<mat-list *ngIf="hasErrorMessaging"
		[ngClass]="[model.cls.element.errors, model.cls.grid.errors]">

	<mat-list-item *ngFor="let message of errorMessages"
		[style.display]="showErrorMessages ? 'block' : 'none'">{{message}}
	</mat-list-item> </mat-list>


	<ng-template *ngIf="template?.align === 'END'"
		[ngTemplateOutlet]="template.templateRef"
		[ngTemplateOutletContext]="model"></ng-template>

	<ng-content></ng-content>

</div>
