{
  "swagger" : "2.0",
  "info" : {
    "version" : "0.0.1",
    "title" : "Demo project for Spring Boot, Logstash, ElasticSearch, Kibana using Docker",
    "termsOfService" : "https://github.com/vlotar/spring-boot-elk",
    "contact" : {
      "name" : "Vadym Lotar",
      "email" : "vadim.lot@gmail.com"
    },
    "license" : {
      "name" : "Apache 2.0",
      "url" : "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host" : "service.url:8080",
  "basePath" : "/",
  "tags" : [ {
    "name" : "users"
  } ],
  "paths" : {
    "/users" : {
      "get" : {
        "tags" : [ "users" ],
        "summary" : "Retrieve all 'users'",
        "description" : "Allows to retrieve all existing 'users'",
        "operationId" : "getAllUsers",
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/UserResourceResponse"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "users" ],
        "summary" : "Create new 'request'",
        "description" : "Allows to create new 'request'",
        "operationId" : "createUser",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/UserResourceRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ResourceIdResponse"
            }
          }
        }
      }
    },
    "/users/{userId}" : {
      "get" : {
        "tags" : [ "users" ],
        "summary" : "Retrieve 'request' by Id",
        "description" : "Allows to retrieve existing 'request' resource by its identifier",
        "operationId" : "getUser",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "",
          "in" : "path",
          "description" : "Unique 'request' identifier",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/UserResourceResponse"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "users" ],
        "summary" : "Update existing 'request'",
        "description" : "Allows to update existing 'request'",
        "operationId" : "updateUser",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "",
          "in" : "path",
          "description" : "Unique 'request' identifier",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/UserResourceRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/SuccessResponse"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "users" ],
        "summary" : "Delete existing 'request'",
        "description" : "Allows to delete existing 'request'",
        "operationId" : "deleteUser",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "",
          "in" : "path",
          "description" : "Unique 'request' identifier",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/SuccessResponse"
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "ResourceIdResponse" : {
      "type" : "object",
      "required" : [ "id" ],
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Resource identifier"
        }
      }
    },
    "SuccessResponse" : {
      "type" : "object",
      "required" : [ "status" ],
      "properties" : {
        "status" : {
          "type" : "string",
          "description" : "Status of the response",
          "enum" : [ "success" ]
        }
      }
    },
    "UserResourceRequest" : {
      "type" : "object",
      "required" : [ "country", "firstName", "lastName" ],
      "properties" : {
        "firstName" : {
          "type" : "string",
          "description" : "User's first name"
        },
        "lastName" : {
          "type" : "string",
          "description" : "User's last name"
        },
        "country" : {
          "type" : "string",
          "description" : "Country where user's living"
        }
      }
    },
    "UserResourceResponse" : {
      "type" : "object",
      "required" : [ "country", "firstName", "id", "lastName" ],
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64",
          "description" : "Unique user identifier"
        },
        "firstName" : {
          "type" : "string",
          "description" : "User's first name"
        },
        "lastName" : {
          "type" : "string",
          "description" : "User's last name"
        },
        "country" : {
          "type" : "string",
          "description" : "Country where user's living"
        }
      }
    }
  }
}