<div [fxLayout]="model.fxLayout" fxFlexFill fxLayoutGap="5px"> 
    <div [fxFlex]="controlModels.fxFlex" 
            [fxLayout]="controlModels.fxLayout" fxFlexFill fxLayoutGap="5px" 
            *ngFor="let controlModels of model.columns">
        <div fxFlex *ngFor="let controlModel of controlModels.components">
            <formio-basic-control *ngIf="controlModel.input"
                [group]="group"
                [hasErrorMessaging]="controlModel.hasErrorMessages"
                [model]="controlModel"
                [nestedTemplates]="templates"
                (blur)="onEvent($event, 0)"
                (change)="onEvent($event, 1)"
                (focus)="onEvent($event, 2)">
            </formio-basic-control>            
        </div>
    </div>    
</div>